.red{
    background: red;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blue{
    background: blue;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brown{
    background: brown;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.yellow{
    background: yellow;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aqua{
    background: aqua;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.coral{
    background: coral;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rebeccapurple{
    background: rebeccapurple;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.yellowgreen{
    background: yellowgreen;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.orangered{
    background: orangered;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.olive{
    background: olive;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gold{
    background: gold;
    padding: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    color: #fff;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}